/* Acá va tu código */


#logo-image {
    background-image: url("images/logo-test.jpg");
    background-color: aqua;
    width: 10em;
    height: 10em;
    position: relative;
    top : 5em;
    left: 30em;
}

#title {
    position: relative;
    left: 14em;
    top: 3em;
    width: 10em;
    height: 2em;
    font-size: 30px;
    text-align: center;
    
    
}

.container-index {
    width: 35em;
    height: 15em;
    position: relative;
    text-align: center;
    top: 5em;
    left: 18em;
    padding-top: 2em;
    background-color: ;
}

#user-answer {
    width: 20em;
    height: 2em;
    padding: 1em;
    display: block;
    margin-left: 10em;
    margin-bottom: 3em;
    background-color: white;
}

#logButton {
  display: inline-block;
  padding: 15px 25px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #BC8F8F;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #645672;
}


#logButton:hover {background-color: rgb(208, 91, 255)}

#logButton:active {
  background-color: #ee6f1a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

a {
    text-decoration: none;
}

ul.horizontal{
    margin:10px;
    padding:0;
}
ul.horizontal li{
    display:block;
    float:left;
    padding: 10px;
    border: ; 
}