body {
    background-image: url("images/back-mail.jpg");
}

#logo-image {
    background-image: url(images/logo-test.jpg);
    background-color: aqua;
    width: 10em;
    height: 10em;
    position: relative;
    top: 0em;
    left: 18em;
}

.container-login {
    width: 45em;
    height: 30em;
    position: relative;
    text-align: center;
    top: 3em;
    left: 18em;
    padding-top: 2em;
    border: 1em solid white;
    border-radius: 1em;
    background-color: white;
}

#name {
    width: 20em;
    height: 1em;
    padding: 1em;
    display: block;
    margin-left: 15.5em;
    margin-bottom: 2em;
    background-color: white;
}

#secret-question {
    width: 20em;
    height: 1em;
    padding: 1em;
    display: block;
    margin-left: 15.5em;
    margin-bottom: 2em;
    background-color: white;
}

#password {
    width: 20em;
    height: 1em;
    padding: 1em;
    display: block;
    margin-left: 15.5em;
    margin-bottom: 2em;
    background-color: white;
}

#e-mail {
    width: 20em;
    height: 1em;
    padding: 1em;
    display: block;
    margin-left: 15.5em;
    margin-bottom: 2em;
    background-color: white;
}


#back-to-home {
    bottom: 1em;
    position: relative;
    right: 13em;
    left: m;
    display: inline-block;
    padding: 1em 2em;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #BC8F8F;
    border: none;
    border-radius: 1em;
    box-shadow: 0 9px #645672;
}


#back-to-home:hover {background-color: rgb(208, 91, 255)}

#back-to-home:active {
  background-color: #ee6f1a;
  box-shadow:  0.2em #666;
  transform: translateY(4px);
}

#on-log-button {
    bottom: 1em;
    right: 4em;
    position: relative;
    display: inline-block;
    padding: 1em 2em;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #BC8F8F;
    border: none;
    border-radius: 1em;
    box-shadow: 0 9px #645672;
}


#on-log-button:hover {background-color: rgb(208, 91, 255)}

#on-log-button:active {
  background-color: #ee6f1a;
  box-shadow:  0.2em #666;
  transform: translateY(4px);
}