body {
    background-image: url("images/back-mail.jpg");
}

#logo-image {
    background-image: url(images/logo-test.jpg);
    background-color: aqua;
    width: 10em;
    height: 10em;
    position: relative;
    top: 0em;
    left: 18em;
}

.container-login {
    width: 45em;
    height: 30em;
    position: relative;
    text-align: center;
    top: 3em;
    left: 18em;
    padding-top: 2em;
    border: 1em solid white;
    border-radius: 1em;
    background-color: white;
}

#name {
    width: 20em;
    height: 1em;
    padding: 1em;
    display: block;
    margin-left: 15.5em;
    margin-bottom: 2em;
    background-color: white;
}

#secret-question {
    width: 20em;
    height: 1em;
    padding: 1em;
    display: block;
    margin-left: 15.5em;
    margin-bottom: 2em;
    background-color: white;
}

#password {
    width: 20em;
    height: 1em;
    padding: 1em;
    display: block;
    margin-left: 15.5em;
    margin-bottom: 2em;
    background-color: white;
}

#e-mail {
    width: 20em;
    height: 1em;
    padding: 1em;
    display: block;
    margin-left: 15.5em;
    margin-bottom: 2em;
    background-color: white;
}


